div .container{
    display: flex;
    flex-direction: column;
    height: 100hv;
}
.main_section{
    background-color: white;
    margin-top: -20px;
    margin-bottom: 17.4px;
}

.logo_part{
    margin-left: -200px;
}
.cards .card{
   
    width: 150px;
    margin: 20px;
    
}

div
div{
    display: flex;
    width: 600px;
    flex-wrap: wrap;   
}

footer{
    
    font-size: 20px;
    background-color: black;
    color: white;
    height: 40px;
}
footer, div{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    background-color: darkgray;
    padding-left: 42px;
    padding-right: 42px;
    color: black;
}
nav a:hover{
    background-color: red;
    color: white;
}
body{
    margin: 0;
    background-image: url(subtle-mosaic-pattern.png);
    
}
.search{
    position: relative;
    top: -60px;
    left: 250px;
}

.card{
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #00baff;
    
}
.title{
    text-decoration: none;
    color: white;

}
.price{
    text-align: center;
    font-weight: bold;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

